@charset "ISO-8859-1";

body{

	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 110%;
}


.login-form{
	width: 500px;
	margin-top: 200px;
	background: rgba(38, 208, 238, 0.904);
	height: 600px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	}
	
.login-form h1{
	text-align: center;
	margin-bottom: 60px;
	}
	
.txtb{
	padding: 12px 20px;
	margin: 8px 0;
	background: #4c88e2;
	border: 1px solid #ccc;
	box-sizing: border-box;
	}
.txtb input{
	width: 60%;
	height: 40px;
  }
  
.logbtn{
	display: block;
	width: 30%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#2600ff,#6a8eac);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
	font-size: 20px;
  }
  
.logbtn:hover{
	background-position: right;
  }
  
.bottom-text{
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
  }
.btn{
	border:none;
	background:none;
	padding: 10px 10px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin-top: 0px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
  }

.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: lightskyblue;
	z-index: -1;
	transition: 0.8s;
  }

  .ha1{
	font-family: 'Permanent Marker', cursive;
  }
  
