@charset "ISO-8859-1";

.body{
	
	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 110%;
}

table{
      background-color: rgb(120, 201, 221);
      border-radius: 5%;
      border-color: black;
      height: 50%;
  }
  
 h1, h2{
    color: white;
  }
 td, th {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    border-radius: 5%;
  }
  
.registerbtn {
    background-color: LightBlue;
    color: Black;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
 .registerbtn:hover {
    opacity: 1;
  }
  
.btn{
      border:none;
      background:none;
      padding: 10px 10px;
      font-size: 20px;
      font-family: "montserrat";
      cursor: pointer;
      margin-top: 0px;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
      }

.btn::before{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0%;
      background: lightskyblue;
      z-index: -1;
      transition: 0.8s;
      }
      
.login-form{
	width: 500px;
	margin-top: 200px;
	background: rgba(56, 58, 58, 0.904);
	height: auto;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	}
	
.login-form h1{
	text-align: center;
	margin-bottom: 60px;
	}
 