@charset "ISO-8859-1";

body{
	
	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
}

.registerbtn {
  background-color: LightBlue;
  color: Black;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

input[type=text] {
	
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
	width: 100%;
	background-color: lightblue;
  }
  
  .search{
  
	width: 500px;
	margin-top: 50px;
	background: black;
	height: 300px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  }
 
  h1{
  	margin-top: 1px;
	font-family: 'Permanent Marker', cursive;
	color: white;
  }