.body{
	
	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
	color: #FFF;
}

.login-form h1{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 60px;
	font-family: 'Permanent Marker', cursive;
}

.logbtn{
	display: block;
	width: 35%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#2600ff,#6a8eac);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
	font-size: 20px;
  }
  
.logbtn:hover{
	background-position: right;
  }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 125px;
    height: 17px;
    width: 17px;
    background-color: #eee;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-form {
	margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

input[type=password],input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: #ddd;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password],input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}