@charset "ISO-8859-1";

body{
	
	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
}

.logbtn{
	margin-top: 40px;
	display: block;
	width: 35%;
	height: 30px;
	border: none;
	background: linear-gradient(120deg,#2600ff,#6a8eac);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
	font-size: 20px;
  }
  
.logbtn:hover{
	background-position: right;
  }



.details{
	
	width: auto;
	margin-top: 250px;
	background: white;
	height: auto;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
}

input[type=text] {
	position: center;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
  }
  
  
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}